---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me 🐈️";

const identity = {
    fullName: "Cheap Nightbot",
    occupation: "Potato ?",
    hobbies: ["secret hobby 1", "secret hobby 2", "secret hobby 3"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "#9b4eff";
const fontWeight = "bold";
const textCase = "uppercase";

let potatoes = 0;
---

<BaseLayout pageTitle={pageTitle}>
    <style is:global define:vars={{ skillColor, fontWeight, textCase }}>
        h1 {
            color: rgb(189, 0, 189);
            font-size: 4rem;
        }
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>
    <p>A boiled potato ~ (˶˃⤙˂˶)</p>

    <h2>... and my new Astro site!</h2>
    <p>
        Me working through Astro's introductory tutorial. Ando, this is the
        second page on my website, ando it the first one I built myself (ig)!
    </p>
    <p>
        This site will update as me complete more of the tutorial, so keep
        checking back ando see how my jouryney is going!
    </p>
    <p>
        By the way, me lobing it! Creators behing Astro ando this tutorial, me
        lobe you all !!! O///o
    </p>
    <p>Here are a few facs about (not really) me:</p>
    <ul>
        <li>My name is {identity.fullName}.</li>
        <li>I live in earth ando I work as a {identity.occupation}.</li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are: {identity.hobbies[0]} and{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
        goal === 3 ? (
            <p>My goal is to finish in 3 days.</p>
        ) : (
            <p>My goal is not 3 days.</p>
        )
    }

    <p>I had {potatoes} {potatoes === 1 ? "potato" : "potatoes"}.</p>
    <button id="feed-me">Feed me!</button>
</BaseLayout>
